---
import { type CollectionEntry, getCollection, render } from "astro:content";

import ProseLayout from "../../layouts/ProseLayout.astro";

export interface Props {
  post: CollectionEntry<"posts">;
  prev: CollectionEntry<"posts"> | null;
  next: CollectionEntry<"posts"> | null;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
      prev: posts[index - 1] ?? posts[posts.length - 1],
      next: posts[index + 1] ?? posts[0],
    },
  }));
}
const { post, prev, next } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);

const { data } = post;
const { title, description, previewImage, datePublished } = data;

console.log(remarkPluginFrontmatter);
---

<ProseLayout
  title={title}
  description={description}
  previewImage={previewImage}
  datePublished={datePublished}
  dateModified={remarkPluginFrontmatter.dateModified}
>
  <Content />
  <div class="pagination" slot="after-prose">
    {
      prev && (
        <a href={prev.id} class="prev">
          <span class="label">Previous</span>
          <span class="title">{prev.data.title}</span>
        </a>
      )
    }
    {
      next && (
        <a href={next.id} class="next">
          <span class="label">Next</span>
          <span class="title">{next.data.title}</span>
        </a>
      )
    }
  </div>
</ProseLayout>

<style>
  .pagination {
    display: flex;
    flex-direction: row;
    margin-block-start: var(--space-3xl);
    margin-inline: auto;
    width: min(860px, calc(100% - var(--space-xl) * 2));
    gap: var(--space-m);
    border-block-start: 1px solid var(--gray-6);
    padding-block-start: var(--space-xl);

    a {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: var(--space-xs);
      line-height: var(--line-height-tight);
      text-decoration: none;
      text-wrap: balance;

      &.prev {
        align-items: flex-start;

        .label::before {
          content: "← ";
          font-family: var(--font-system);
        }

        @media (width < 600px) {
          display: none;
        }
      }

      &.next {
        align-items: flex-end;
        text-align: right;

        .label::after {
          content: " →";
          font-family: var(--font-system);
        }
      }

      .label {
        font-size: var(--step--2);
        color: var(--gray-11);
        transition: color 0.2s ease-in-out;
        font-weight: var(--font-weight-normal);
      }
    }
  }
</style>
